/* 表單格式樣式 */
form label {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
}

/* 文字輸入框樣式 */
.companyContent input[type=text],
textarea {
    width: 1000px;
    padding: 12px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/* 輸入框時間的樣式 */
input[type=datetime-local],
textarea {
    width: 400px;
    padding: 12px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/* 輸入框的按鈕樣式 */
input[type=submit] {
    background-color: orange;
    padding: 5px;
    margin: 20px auto;
    border: none;
    letter-spacing: 3px;
    position: relative;
    width: 200px;
    font-size: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 第一張照片 */
.itemImg {
    width: 150px;
    height: 150px;
    display: block;
    object-fit: cover;
    object-position: center;
}
/* 第二張照片 */
#ItemImgId2 {
    width: 150px;
    height: 150px;
    display: block;
    object-fit: cover;
    object-position: center;
}
/* 第三張照片 */
#ItemImgId3 {
    width: 150px;
    height: 150px;
    display: block;
    object-fit: cover;
    object-position: center;
}
/* 第四張照片 */
#ItemImgId4 {
    width: 150px;
    height: 150px;
    display: block;
    object-fit: cover;
    object-position: center;
}

/* 標題的樣式 */
h1{
    display: flex;
    justify-content: center
}
/* 中間框的樣式 */
.container {
    border-radius: 5px;
    background-color: #e7e7e7;
    padding: 20px 0;
    display: flex;
    justify-content: center
}