/* 硬幣旋轉 */
/* body {
    padding-top: 50px;
    background: #F7F7F7;
    -webkit-perspective: 800px;
} */


/* 選轉硬幣 */
#coin {
    position: relative;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

#coin div {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: inset 0 0 45px rgba(255, 255, 255, .3), 0 12px 20px -10px rgba(0, 0, 0, .4);
    -moz-box-shadow: inset 0 0 45px rgba(255, 255, 255, .3), 0 12px 20px -10px rgba(0, 0, 0, .4);
    box-shadow: inset 0 0 45px rgba(255, 255, 255, .3), 0 12px 20px -10px rgba(0, 0, 0, .4);
}

.side-a {
    background-color: #bb0000;
}

.side-b {
    background-color: #3e3e3e;
}

#coin {
    transition: -webkit-transform 1s ease-in;
    transform-style: preserve-3d;
}

#coin div {
    position: absolute;
    backface-visibility: hidden;
}

.side-a {
    z-index: 100;
}

.side-b {
    transform: rotateY(-180deg);

}

#coin.heads {
    -webkit-animation: flipHeads 3s ease-out forwards;
    -moz-animation: flipHeads 3s ease-out forwards;
    -o-animation: flipHeads 3s ease-out forwards;
    animation: flipHeads 3s ease-out forwards;
}

#coin.tails {
    -webkit-animation: flipTails 3s ease-out forwards;
    -moz-animation: flipTails 3s ease-out forwards;
    -o-animation: flipTails 3s ease-out forwards;
    animation: flipTails 3s ease-out forwards;
}

@keyframes flipHeads {
    from {
        -webkit-transform: rotateY(0);
        -moz-transform: rotateY(0);
        transform: rotateY(0);
    }

    to {
        -webkit-transform: rotateY(1800deg);
        -moz-transform: rotateY(1800deg);
        transform: rotateY(1800deg);
    }
}

@keyframes flipTails {
    from {
        -webkit-transform: rotateY(0);
        -moz-transform: rotateY(0);
        transform: rotateY(0);
    }

    to {
        -webkit-transform: rotateY(1980deg);
        -moz-transform: rotateY(1980deg);
        transform: rotateY(1980deg);
    }
}

/* 圖片360度旋轉 */
@media (prefer-reduced-motion: no-preference) {
    #test1 {
        animation: test1-spin infinite 20s linear;
    }
}

@keyframes test1-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

main {
    text-align: center;

    /* margin-left: 200px; */
    /* margin-right: 200px; */
}

.videotest:-webkit-full-screen {
    width: 100%;
    height: 100%;
}

.homebtn a {
    text-decoration: none;
    color: #8C5C02;
}

.homebtn a:hover {
    color: #F29F04;
}


/* .homebtn:hover {
    background-color: #F29F04;
    color: #ffffff;
} */
.homeimg {
    width: 20px;
    /* float: left; */
    /* margin-right:60px ; */
    /* margin-left: 60px; */
    visibility: hidden;
}

.homebtn:hover .homeimg {
    visibility: visible;
}

.homebtn {
    /* margin: auto; */
    margin-top: 750px;
    margin-right: 50px;
    /* margin-bottom: 200px; */
    text-align: center;
    position: relative;
    /* top: 150%;*/
    left: 45%;
    border-radius: 12px;
    font-size: 18px;
    padding: 10px 40px;
    /* background-color: rgba(255, 255, 255, 0); */
    /* background-color: transparent; */
    /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    border: 1px solid #8C5C02;
    /* color:#ffffff; */
    z-index: 5;

}

.homebtn2:hover {

    color: #8C5C02;
    animation-name: example;
    animation-duration: 4s;
    position: relative;

}

@keyframes example {
    0% {
        color: #F29F04;
        left:50px; top:0px;
        left:0px; top:0px;
    }

    25% {
       color: yellow;
       left:50px; top:0px;

    }

    50% {
       color: blue;
       left:50px; top:0px;

    }

    100% {
        color: green;
        left:50px; top:0px;

    }
}

.table_image{
    position: absolute;
}