.LoginApp {
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: white;
    /* background-image: linear-gradient(153deg, rgba(249,248,62,0.9626051104035365) 0%, rgba(69,212,99,1) 44%); */
    background-image:url(../public/images/loginBg.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    /* filter: blur(8px); */
}

.auth-form-container,
.register-form {
    display: flex;
    flex-direction: column;
    background-color: hsla(60, 55%, 40%, 0.6);

}
.register-form,
.login-form{
    display: flex;
    flex-direction: column;
    background-color: hsla(60, 6%, 90%, 0.01);

}


@media screen and (min-width: 600px) {
    .auth-form-container {
        padding: 5rem;
        /* border: 1px solid white; */
        border-radius: 10px;
        margin: 0.5rem;
        
    }
}

.login-form label {
    text-align: left;
    padding: 0.25rem 0;
}

.login-form input {
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
}

.register-form label {
    text-align: left;
    padding: 0.25rem 0;
}

.register-form input {
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
}



.sub-btn {
    border: none;
    background-color: white;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: #8C5C02;
}

.link-btn {
    /* margin:; */
    border: none;
    background: none;
    color: white;
    text-decoration: underline;
    transition-duration: 0.4s;
}

.link-btn:hover  {
    /* margin:; */
    border: none;
    background-color: #8C5C02; 
    color: white;
}